# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environment
venv/
.env/

# Node.js frontend
node_modules/
build/
dist/

# System files
.DS_Store
Thumbs.db

# Whisper or audio
uploads/
*.wav
*.mp3
*.webm
*.docx

# IDE
.vscode/
.idea/
